obj/
bin/
Debug/
GuiDebug/
Release/
GuiRelease/
ipch/
build/
build-HyEditor-*/
.vs/
GeneratedFiles/

!Engine/extras/ICU/README.txt
Engine/extras/ICU/

spine-cpp/

*.exe
*.ilk
*.sdf
*.opensdf
*.suo
*.pdb
*.lib
*.user
*.db
*.opendb
*.stash
*.aps
